img {
  width: 300px;
}
h5 {
  border: 1;
  border-style: solid;
  width: 300px;
}
.title {
  color: #343a40;
  padding: 2%;
  margin: 4% 20%;
  border-radius: 30px;
  border: 2px dashed #343a40;
}
.cars-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.name {
  margin-left: 10px;
  margin-right: 10px;
}
